<h1>Listing council_members</h1>

<table>
  <tr>
    <th>Book</th>
    <th>First</th>
    <th>Last</th>
  </tr>

<% for council_member in @council_members %>
  <tr>
    <td><%=h council_member.book_id %></td>
    <td><%=h council_member.first %></td>
    <td><%=h council_member.last %></td>
    <td><%= link_to 'Show', council_member %></td>
    <td><%= link_to 'Edit', edit_council_member_path(council_member) %></td>
    <td><%= link_to 'Destroy', council_member, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New council_member', new_council_member_path %>
