<% form_for(@digitized_link, :url => book_digitized_link_path(@book, @digitized_link)) do |f| %>
  <%= f.error_messages %>

  <fieldset>
    <legend>Edit Digitized Link</legend>
    <p>
    <%= f.label :link %>
    <%= f.text_field :link %>
    </p>
    <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
    </p>
    <p>
    <%= f.submit "Update" %>
    </p>
  </fieldset>
<% end %>
