<h1>New call_num</h1>

<% form_for(@call_num, :url => book_call_nums_path)  do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :book_id %><br />
    <%= f.text_field :book_id %>
  </p>
  <p>
    <%= f.label :call_num %><br />
    <%= f.text_field :call_num %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
