
<% form_for(@call_num) do |f| %>
  <fieldset>
    <legend>Call Number</legend>
  <%= f.error_messages %>

  <input type="hidden" id="call_num_book_id" name="call_num[book_id]" value="<%= params[:id] %>" />
  <p>
    <%= f.label :call_num %>
    <%= f.text_field :call_num %>
  </p>

  <%= f.submit 'Add call number' %>

  </fieldset>
<% end %>


