
<% form_for(@subject) do |f| %>
  <fieldset>
    <legend>Subject</legend>

  <input type="hidden" id="subject_book_id" name="subject[book_id]" value="<%= params[:id] %>" />
  <p>
    Subject: <%= select :subject, :subject_type_id, SubjectType.find(:all).collect { |s| [s.title, s.id] } %>
  </p>

or create a new subject: 

  <p>
    <%= label_tag :create_subject %>
    <%= text_field_tag :create_subject %>
  </p>
  <p>
    <%= f.submit 'Add Subject' %>
  </p>

  </fieldset>
<% end %>


