<ul class="horizontal_list">
  <li><%= link_to 'Book summary', "/books/#{params[:id]}" %></li>
</ul>

<% form_for(@alt_title) do |f| %>
  <fieldset>
    <legend>Alternate Title</legend>
  <%= f.error_messages %>

  <input type="hidden" id="alt_title_book_id" name="alt_title[book_id]" value="<%= params[:id] %>" />
  <p>
    <%= f.label :title, 'Alt Title' %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Add Title' %>
  </p>
  </fieldset>
<% end %>



<% form_for(@call_num) do |f| %>
  <fieldset>
    <legend>Call Number</legend>
  <%= f.error_messages %>

  <input type="hidden" id="call_num_book_id" name="call_num[book_id]" value="<%= params[:id] %>" />
  <p>
    <%= f.label :call_num %>
    <%= f.text_field :call_num %>
  </p>

  <%= f.submit 'Add call number' %>

  </fieldset>
<% end %>



<% form_for(@page) do |f| %>
  <fieldset>
    <legend>Page</legend>
  <%= f.error_messages %>

  <input type="hidden" id="page_book_id" name="page[book_id]" value="<%= params[:id] %>" />
  <p>
    <%= f.label :page %>
    <%= f.text_field :page %>
  </p>
  <p>
    <%= f.submit 'Add Page' %>
  </p>
  </fieldset>
<% end %>



<% form_for(@contributor) do |f| %>
  <fieldset>
    <legend>Contributor</legend>
  <%= f.error_messages %>

  <input type="hidden" id="contributor_book_id" name="contributor[book_id]" value="<%= params[:id] %>" />
  <p>
    <%= f.label :first %>
    <%= f.text_field :first %>
  </p>
  <p>
    <%= f.label :last %>
    <%= f.text_field :last %>
  </p>
  <p>
    <%= select :contributor, :role, { 'Author' => 'Author', 'Editor' => 'Editor', 'Translator' => 'Translator' } %>
  </p>

  <p>
    <%= f.submit 'Add contributor' %>
  </p>
  </fieldset>
<% end %>



<% form_for(@subject) do |f| %>
  <fieldset>
    <legend>Subject</legend>

  <input type="hidden" id="subject_book_id" name="subject[book_id]" value="<%= params[:id] %>" />
  <p>
    Subject: <%= select :subject, :subject_type_id, SubjectType.find(:all).collect { |s| [s.title, s.id] } %>
  </p>
  <p>
    <%= f.submit 'Add Subject' %>
  </p>

  </fieldset>
<% end %>



<% form_for(@language) do |f| %>
  <fieldset>
    <legend>Language</legend>

  <input type="hidden" id="language_book_id" name="language[book_id]" value="<%= params[:id] %>" />

  <p>
    Language: <%= select :language, :language_type_id, LanguageType.find(:all).collect { |l| [l.title, l.id] } %>
  </p>
  <p>
    <%= f.submit 'Add language' %>
  </p>

  </fieldset>
<% end %>



<% form_for(@location) do |f| %>
  <fieldset>
    <legend>Location</legend>

  <input type="hidden" id="location_book_id" name="location[book_id]" value="<%= params[:id] %>" />

  <p>
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :population, 'Population' %>
    <%= f.text_field :population %>
  </p>
  <p>
    <%= f.label :pre_wwii_population, 'Pre WWII Population' %>
    <%= f.text_field :pre_wwii_population %>
  </p>
  <p>
    <%= f.label :coordinates, 'Coordinates' %>
    <%= f.text_field :coordinates %>
  </p>
  <p>
    <%= f.label :country, 'Country' %>
    <%= f.text_field :country %>
  </p>

  <p>
    <%= f.submit 'Add location' %>
  </p>

  </fieldset>
<% end %>



<% form_for(@location_variation) do |f| %>
  <fieldset>
    <legend>Location Variation</legend>

  <p>
    <%= f.label :location, 'Location' %>
    <%= select :book, :title, Location.find(:all).collect { |b| [b.name, b.id] } %>
  </p>
  <p>
    <%= f.label :name, 'Variation' %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit 'Add Variation' %>
  </p>

  </fieldset>
<% end %>



<%= error_messages_for :upload %>

<% form_for(:upload, :url => uploads_path, :html => { :multipart => true }) do |f| -%>
  <fieldset>
    <legend>Upload</legend>
  <input type="hidden" id="upload_book_id" name="upload[book_id]" value="<%= params[:id] %>" />
  <p>
    <%= f.label :uploaded_data, 'Upload' %>
    <%= f.file_field :uploaded_data %>
  </p>
  <p>
    <%= select :upload, :upload_type, { 'Map' => 'Map', 'Photograph' => 'Photograph', 'Drawing' => 'Drawing', 'Document' => 'Document' } %>
  </p>
  <p>
    <%= submit_tag 'Upload' %>
  </p>
<% end -%>

<% if !@images.blank? %>
  <ul>
  Current images: <% @images.each do |image| %>
    <li><%= link_to image_tag(image.public_filename(:thumb), :alt => ''), image.public_filename %> -- <%= link_to('Delete', {:controller => 'books', :action => 'delete_upload', :book_id => image.id}, :confirm => "Are you sure?") %></li>
  <% end %>
  </ul>
  </fieldset>
<% end %>
