<% form_for(@alt_title) do |f| %>
  <%= f.error_messages %>

  <input type="hidden" id="alt_title_book_id" name="alt_title[book_id]" value="<%= params[:id] %>" />
  <p>
    <%= f.label :title, 'Alt Title' %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Add Title' %>
  </p>
<% end %>

<hr />

<% form_for(@call_num) do |f| %>
  <%= f.error_messages %>

  <input type="hidden" id="call_num_book_id" name="call_num[book_id]" value="<%= params[:id] %>" />
  <p>
    <%= f.label :call_num %>
    <%= f.text_field :call_num %>
  </p>

  <%= f.submit 'Add call number' %>

<% end %>

<hr />

<% form_for(@page) do |f| %>
  <%= f.error_messages %>

  <input type="hidden" id="page_book_id" name="page[book_id]" value="<%= params[:id] %>" />
  <p>
    <%= f.label :page %>
    <%= f.text_field :page %>
  </p>
  <p>
    <%= f.submit 'Add Page' %>
  </p>
<% end %>

<hr />

<% form_for(@contributor) do |f| %>
  <%= f.error_messages %>

  <input type="hidden" id="contributor_book_id" name="contributor[book_id]" value="<%= params[:id] %>" />
  <p>
    <%= f.label :first %>
    <%= f.text_field :first %>
  </p>
  <p>
    <%= f.label :last %>
    <%= f.text_field :last %>
  </p>
  <p>
    <%= select :contributor, :role, { 'Author' => 'Author', 'Editor' => 'Editor', 'Translator' => 'Translator' } %>
  </p>

  <p>
    <%= f.submit 'Add contributor' %>
  </p>
<% end %>

<hr />

<% form_for(@subject) do |f| %>

  <input type="hidden" id="subject_book_id" name="subject[book_id]" value="<%= params[:id] %>" />
  <p>
    Subject: <%= select :subject, :subject_type_id, SubjectType.find(:all).collect { |s| [s.title, s.id] } %>
  </p>
  <p>
    <%= f.submit 'Add Subject' %>
  </p>

<% end %>

<hr />

<% form_for(@language) do |f| %>

  <input type="hidden" id="language_book_id" name="language[book_id]" value="<%= params[:id] %>" />

  <p>
    Language: <%= select :language, :language_type_id, LanguageType.find(:all).collect { |l| [l.title, l.id] } %>
  </p>
  <p>
    <%= f.submit 'Add language' %>
  </p>

<% end %>

<hr />

<% form_for(@location) do |f| %>

  <input type="hidden" id="location_book_id" name="location[book_id]" value="<%= params[:id] %>" />

  <p>
    <%= f.label :name, 'Name' %>:
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :population, 'Population' %>:
    <%= f.text_field :population %>
  </p>
  <p>
    <%= f.label :pre_wwii_population, 'Pre WWII Population' %>:
    <%= f.text_field :pre_wwii_population %>
  </p>
  <p>
    <%= f.label :coordinates, 'Coordinates' %>:
    <%= f.text_field :coordinates %>
  </p>
  <p>
    <%= f.label :country, 'Country' %>:
    <%= f.text_field :country %>
  </p>

  <p>
    <%= f.submit 'Add location' %>
  </p>

<% end %>

<hr />

<% form_for(@location_variation) do |f| %>

  <p>
    <%= f.label :location, 'Location' %>:
    <%= select :book, :title, Location.find(:all).collect { |b| [b.name, b.id] } %>
  </p>
  <p>
    <%= f.label :name, 'Variation' %>:
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit 'Add Variation' %>
  </p>

<% end %>
