<ul class="horizontal_list">
  <li><%= link_to 'Book summary', "/books/#{params[:id]}" %></li>
</ul>

<br />
<br />

<p>What details would you like to add?</p>
<ul>
  <li><%= link_to 'Alternate Title', "/books/#{params[:id]}/create_details/add_alt_title" %></li>
  <li><%= link_to 'Call Number', "/books/#{params[:id]}/create_details/add_call_num" %></li>
  <li><%= link_to 'Page', "/books/#{params[:id]}/create_details/add_page" %></li>
  <li><%= link_to 'Contributor', "/books/#{params[:id]}/create_details/add_contributor" %></li>
  <li><%= link_to 'Subject', "/books/#{params[:id]}/create_details/add_subject" %></li>
  <li><%= link_to 'Digitized Link', "/books/#{params[:id]}/create_details/add_digitized_link" %></li>
  <li><%= link_to 'Council Member', "/books/#{params[:id]}/create_details/add_council_member" %></li>
  <li><%= link_to 'Language', "/books/#{params[:id]}/create_details/add_language" %></li>
  <li><%= link_to 'Location', "/books/#{params[:id]}/create_details/add_location" %></li>
  <li><%= link_to 'Location Variation', "/books/#{params[:id]}/create_details/add_location_variation" %></li>
  <li><%= link_to 'Upload', "/books/#{params[:id]}/create_details/add_upload" %></li>
</ul>


