<h1>Listing books</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

<% for book in @books %>
  <tr>
    <td><%=h book.title.titleize %></td>
    <td><%= link_to 'Show', book %></td>
    <% unless session[:admin].blank? %>
      <td><%= link_to 'Edit', edit_book_path(book) %></td>
      <td><%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% unless session[:admin].blank? %>
  <%= link_to 'New book', new_book_path %>
<% end %>
