<% form_for(@book) do |f| %>
  <%= f.error_messages %>

  <fieldset>
    <legend>New Book</legend>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, :size => 50 %>
  </p>
  <p>
    <%= f.label :publication_year %><br />
    <%= f.text_field :publication_year, :size => 4 %>
  </p>
  <p>
    <%= f.label :publication_place %><br />
    <%= f.text_field :publication_place, :size => 50 %>
  </p>
  <p>
    <%= f.label :historical_period %><br />
    <%= f.text_field :historical_period, :size => 50 %>
  </p>
  <p>
    <%= f.label :has_necrology, "Necrology" %><br />
    <%= f.check_box :has_necrology %>
  </p>
  <p>
    <%= f.label :has_toc, "TOC" %><br />
    <%= f.check_box :has_toc %>
  </p>
  <p>
    <%= f.label :has_index, "Index" %><br />
    <%= f.check_box :has_index %>
  </p>
  <p>
    <%= f.label :has_maps, "Maps" %><br />
    <%= f.check_box :has_maps %>
  </p>
  <p>
    <%= f.label :has_images, "Images" %><br />
    <%= f.check_box :has_images %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, { :cols => 60, :rows => 8 } %>
  </p>
  <p>
    <%= f.label :characteristics %><br />
    <%= f.text_area :characteristics, { :cols => 60, :rows => 8 }  %>
  </p>
  <p>
    <%= f.label :table_of_contents %><br />
    <%= f.text_area :table_of_contents, { :cols => 60, :rows => 8 }  %>
  </p>
  <p>
    <%= f.label :other_notes %><br />
    <%= f.text_area :other_notes, { :cols => 60, :rows => 8 }  %>
  </p>
  <p>
    <%= f.label :abstract %><br />
    <%= f.text_area :abstract, { :cols => 60, :rows => 8 }  %>
  </p>
  <p>
    <%= f.label :nypl_link, 'New York Public Library' %><br />
    <%= f.text_field :nypl_link, :size => 50 %>
  </p>
  <p>
    <%= f.label :holder %><br />
    <%= f.text_field :holder, :size => 50  %>
  </p>
  <p>
    <%= f.label :quotations %><br />
    <%= f.text_area :quotations, { :cols => 60, :rows => 8 }  %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
  </fieldset>
<% end %>
