<ul class="horizontal_list">
  <li><%= link_to 'Add details', add_details_path(@book) %></li>
  <li><%= link_to 'Edit', edit_book_path(@book) %></li>
  <li><%= link_to 'New book', new_book_path %></li>
  <li><%= link_to 'All', books_path %></li>
</ul>

<div class="book_results">
<center><h1 class="book_title"><%=h @book.title.capitalize %></h1></center>

<p>
  <b>Description:</b>
  <%=h @book.description %>
</p>


<p>
  <b>Publication year:</b>
  <%=h @book.publication_year %>
</p>

<p>
  <b>Publication place:</b>
  <%=h @book.publication_place %>
</p>

<p>
  <b>Historical period:</b>
  <%=h @book.historical_period %>
</p>



</div>
<div class="book_results">
<p>
  <b>Has necrology:</b>
  <%=h @book.has_necrology %>
</p>

<p>
  <b>Has toc:</b>
  <%=h @book.has_toc %>
</p>

<p>
  <b>Has index:</b>
  <%=h @book.has_index %>
</p>

</div>
<div class="book_results">

<p>
  <b>Characteristics:</b>
  <%=h @book.characteristics %>
</p>

<p>
  <b>Table of contents:</b>
  <%=h @book.table_of_contents %>
</p>


<p>
  <b>Other notes:</b>
  <%=h @book.other_notes %>
</p>

<p>
  <b>Abstract:</b>
  <%=h @book.abstract %>
</p>

<p>
  <b>Keywords:</b>
  <%=h @book.keywords %>
</p>

<p>
  <b>Dig book:</b>
  <%=h @book.dig_book %>
</p>


</div>
<div class="book_results">

<p>
  <b>Images:</b>
  <%=h @book.has_images %>
</p>
</div>

