<ul class="horizontal_list">
  <li><%= link_to 'All', books_path %></li>
  <% if session[:admin].blank? %>
    <li><%= link_to 'Login to do more', :controller => 'admins', :action => 'index' %></li>
  <% else %>
    <li><%= link_to 'Add details', add_details_path(@book) %></li>
    <li><%= link_to 'Edit', edit_book_path(@book) %></li>
    <li><%= link_to 'New book', new_book_path %></li>
    <li><%= link_to 'Destroy', @book, :confirm => 'Are you sure?', :method => :delete %></li>
    <li><%= link_to 'Logout', :controller => 'admins', :action => 'logout' %></li>
  <% end %>
</ul>

<div class="book_results">
<center><h1 class="book_title"><%=h @book.title.titleize %></h1></center>

<p>
  <b>Alternative Titles:</b>
  <% @book.alt_title.each do |t| %>
    <%= t.title.titleize %><br />
  <% end %>
</p>

<p>
  <b>Call Numbers:</b>
  <% @book.call_num.each do |c| %>
    <%= c.call_num %><br />
  <% end %>
</p>

<p>
  <b>Subjects:</b>
  <%= @book.subjects %>
</p>

<p>
  <b>Pages:</b>
  <%= @book.pages.to_s[0..-3] %>
</p>

<p>
  <b>Description:</b>
  <%=h @book.description %>
</p>

<p>
  <b>Publication year:</b>
  <%=h @book.publication_year %>
</p>

<p>
  <b>Publication place:</b>
  <%=h @book.publication_place %>
</p>

<p>
  <b>Historical period:</b>
  <%=h @book.historical_period %>
</p>



</div>
<div class="book_results">
<p>
  <b>Has necrology:</b>
  <%=h @book.has_necrology %>
</p>

<p>
  <b>Has toc:</b>
  <%=h @book.has_toc %>
</p>

<p>
  <b>Has index:</b>
  <%=h @book.has_index %>
</p>

<p>
  <b>Has maps:</b>
  <%=h @book.has_maps %>
</p>

</div>
<div class="book_results">


<p>
  <b>Contributors:</b>
  <%= @book.contributors %>
</p>


<p>
  <b>Languages:</b>
  <%= @book.languages %>
</p>



<p>
  <b>Characteristics:</b>
  <%=h @book.characteristics %>
</p>

<p>
  <b>Table of contents:</b>
  <%=h @book.table_of_contents %>
</p>


<p>
  <b>Other notes:</b>
  <%=h @book.other_notes %>
</p>

<p>
  <b>Abstract:</b>
  <%=h @book.abstract %>
</p>

<p>
  <b>Keywords:</b>
  <%=h @book.keywords %>
</p>

<p>
  <b>Digital book:</b>
  <% @book.digitized_link.each do |d| %>
    <%= link_to d.link, d.link %><br />
  <% end %>
</p>

<p>
  <b>Council Members:</b>
  <% @book.council_member.each do |c| %>
    <%= "#{c.first} #{c.last}, " %>
  <% end %>
</p>

<p>
  <b>Quotations:</b>
  <%=h @book.quotations %>
</p>

<p>
  <b>New York Public Library  Link:</b>
  <%=h @book.nypl_link%>
</p>

</div>
<div class="book_results">

<p>
  <b>Images:</b>
  <%=h @book.has_images %>

  <% @book.upload.each do |u| %>
    <%= link_to image_tag(u.public_filename(:thumb)), u.public_filename %> - <%= u.upload_type %><br />
  <% end %>
</p>
</div>

