<ul class="horizontal_list">
  <% if session[:admin].blank? %>
    <li><%= link_to 'Login to do more', :controller => 'admins', :action => 'index' %></li>
  <% else %>
    <li><%= link_to 'Add/Edit Features ', add_details_path(@book) %></li>
    <li><%= link_to 'Edit Information', edit_book_path(@book) %></li>
    <li><%= link_to 'Destroy', @book, :confirm => 'Are you sure?', :method => :delete %></li>
  <% end %>
</ul>

<div class="book_results">
<center><h1 class="book_title"><%=h @book.title %></h1></center>

<p>
  <b>Alternative Titles:</b>
  <% @book.alternate_title.each do |t| %>
    <%= t.title %><br />
  <% end %>
</p>

<p>
  <b>Call Numbers:</b>
  <% @book.call_num.each do |c| %>
    <%= c.call_num %>,
  <% end %>
</p>

<p>
  <b>Subjects:</b>
  <%= @book.subjects %>
</p>

<p>
  <b>Pages:</b>
  <%= @book.pages.to_s %>
</p>

<p>
  <b>Description:</b>
  <%=h @book.description %>
</p>

<p>
  <b>Publication year:</b>
  <%=h @book.publication_year %>
</p>

<p>
  <b>Publication place:</b>
  <%=h @book.publication_place %>
</p>

<p>
  <b>Historical period:</b>
  <%=h @book.historical_period %>
</p>



</div>
<div class="book_results">
<p>
  <b>Necrology:</b>
  <%= @book.has_necrology ? "Yes" : "No" %>
</p>

<p>
  <b>TOC:</b>
  <%= @book.has_toc ? "Yes" : "No" %>
</p>

<p>
  <b>Index:</b>
  <%= @book.has_index ? "Yes" : "No" %>
</p>

<p>
  <b>Maps:</b>
  <%= @book.has_maps ? "Yes" : "No" %>
</p>

</div>
<div class="book_results">


<p>
  <b>Contributors:</b>
  <%= @book.contributors.to_sentence %>
</p>


<p>
  <b>Languages:</b>
  <%= @book.languages %>
</p>



<p>
  <b>Characteristics:</b>
  <%=h @book.characteristics %>
</p>

<p>
  <b>Table of contents:</b>
  <%=h @book.table_of_contents %>
</p>


<p>
  <b>Other notes:</b>
  <%=h @book.other_notes %>
</p>

<p>
  <b>Abstract:</b>
  <%=h @book.abstract %>
</p>

<p>
  <b>Keywords:</b>
  <%=h @book.keywords %>
</p>

<p>
  <b>Digital book:</b>
  <% @book.digitized_link.each do |d| %>
    <%= link_to d.link, d.link %><br />
  <% end %>
</p>

<p>
  <b>Council Members:</b>
  <% @book.council_member.each do |c| %>
    <%= "#{c.first} #{c.last}, " %>
  <% end %>
</p>

<p>
  <b>Quotations:</b>
  <%=h @book.quotations %>
</p>

<p>
  <b>New York Public Library  Link:</b>
  <%=h @book.nypl_link%>
</p>

<p>
<b>Locations:</b>
<% @book.location.each do |l| %>
  <% 
     # Because we can have either a location_type,
     # or a location variation associated with
     # a book, we need to render their results
     # accordingly 
  %>
  <% if not l.location_type_id.blank? %>
    <%= link_to l.location_type.name, l.location_type %>, 
  <% else %>
    <%= link_to l.location_variation.name, l.location_variation %>, 
  <% end %>
<% end %>
</p>

</div>
<div class="book_results">

<p>
  <b>Images:</b>
  <br />
  <% @book.upload.each do |u| %>
    <%= link_to image_tag(u.public_filename(:thumb), :alt => ''), book_upload_path(@book, u) %> - <%= u.upload_type %><br />
  <% end %>
</p>
</div>

