
  <!--
<ul class="horizontal_list">
  <li><%= link_to 'All books',  :controller => 'books', :action => 'index'  %></li>
  <li><%= link_to 'Title', :action => 'search', :find_by => 'title'  %></li>
  <li><%= link_to 'Contributor', :action => 'search', :find_by => 'contributor' %></li>
  <li><%= link_to 'Population', :action => 'search', :find_by => 'population' %></li>
  <li><%= link_to 'Advanced', :action => 'search', :find_by => 'advanced' %></li>
</ul>
  -->

<%= render :partial => 'find' %>
