<h1>New upload</h1>

<% form_for(@upload, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <fieldset>
    <legend>Upload</legend>
    <input type="hidden" id="upload_book_id" name="upload[book_id]" value="<%= params[:book_id] %>" />
    <p>
    <%= f.label :uploaded_data, 'Upload' %>
    <%= f.file_field :uploaded_data %>
    </p>
    <p>
    <%= f.select :upload_type, { 'Map' => 'Map', 'Photograph' => 'Photograph', 'Drawing' => 'Drawing', 'Document' => 'Document' } %>
    </p>
    <p>
    <%= f.submit "Upload" %>
    </p>


    <!-- Currently broken -->
    <% if !@images.blank? %>
      <ul>
        Current images: <% @images.each do |image| %>
          <li><%= link_to image_tag(image.public_filename(:thumb), :alt => ''), image.public_filename %> -- <%= link_to('Delete', {:controller => 'books', :action => 'delete_upload', :book_id => image.id}, :confirm => "Are you sure?") %></li>
        <% end %>
      </ul>
    <% end %>


  </fieldset>
<% end %>
