<fieldset>
  <legend>New Location</legend>
  <% form_for(@location, :url => book_locations_path) do |f| %>
    <%= f.error_messages %>

    <input type="hidden" id="location_book_id" name="location[book_id]" value="<%= params[:book_id] %>" />

    <p>
    <%= select ("location", "location_type_id", Location.all_locations.map {|k| [k.name,k.id]}) %>
    </p>
    <p>
    <%= f.submit "Create" %>
    </p>
  <% end %>
</fieldset>

<fieldset>
  <legend>Current Locations</legend>
  <%= render :partial => 'show_all' %>
</fieldset>
